<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h1>This is google analytics</h1>
  <p>Click <a href="ga.html">here</a> to go to File 2.</p>

<h1>This is bohp</h1>
  <p>Click <a href="bohp_cleaned.html">here</a> to go to bohp.</p>

  <h1>This is lda_vis</h1>
  <p>Click <a href="ldavis_female_4.html">here</a> to go to lda for female.</p>
  <p>Click <a href="ldavis_male_4.html">here</a> to go to lda for male.</p>
  <h1>This is computer visison</h1>
    <p>Click <a href="poster.html">here</a> to go to lchickens</p>

    <h1>This is network</h1>
  <p>Click <a href="network.html">here</a> to go to File 2.</p>
</body>
</html>